@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg--white: #fff;
  --bg-primary: #21218f;
  --text-black: #000000;
  --text-secondary: #fc5184;
  --bg-gar: #686666;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.375rem;
}
::-webkit-scrollbar-track {
  background: var(--bg-primary);
}
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
.wrapper {
  padding: 6.25rem 0;
}

.main-btn {
  display: inline;
  border: 0.0625rm solid var(--bg-gar);
  color: var(--text-black);
  text-align: center;
  padding: 0.75rem 1.375rem;
  font-size: 1rem;
  background: transparent;
  text-transform: uppercase;
  border-radius: 0.1875rem;
  transition: all 0.3s ease-in-out;
  background: var(--text-secondary);
}
.main-btn:hover {
  background: var(--text-secondary);
  border-color: var(--text-secondary);
  color: var(--bg--white);
}
.fil-btn {
  background: var(--text-secondary);
  border-color: var(--text-secondary);
  color: var(--bg--white);
}
.fil-btn :hover {
  background: var(--bg--white);
  border-color: var(--bg--white);
  color: var(--text-black);
}

h1 {
  font-size: 3.75rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: var(--text-black);
}
h2 {
  font-size: 2.75rem;
 color: var(--text-black) !important;
  font-weight: 600;
 
}
h3 {
  font-size: 1.75rem;
 color: var(--text-black);
  font-weight: 600;
 
}
h4 {
  font-size: 1.75rem;
  line-height: 2.25;
  font-weight: 600;
  color: var(--text-black);
}
h5 {
  font-size: 1.5rem;
  line-height: 1.2rem;
  font-weight: 600;
  color: var(--bg-primary);
  margin-bottom: 0.975rem;
}
h6 {
  font-size: 0.875rem;
  font-weight: 300;
  color: var(--text-black);
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}
p{
  font-size: 1rem;
  color: var(--bg-gar);
  line-height: 1.625rem;
}
.card
{
  border-radius: .625rem;
  background-color: var(--bg--white);
  box-shadow: .5084rem 1.1419rem 2.5rem 0 rgba(15, 9, 9, 0.08);
  padding: 3.75rem 3.125rem 4.6875rem;
  --webkit-transition:all .4s,
  transition: all .4s;
  border: 0;

}
@keyframes movebounce
{
  0%{
    --wekit-transform:translateY(0);
    transform:translateY(0);
  }
  50%
  {
    --wekit-transform:translateY(1.25rem);
    transform:translateY(1.25rem);
  }
  100%
  {
    --wekit-transform:translateY(1.25rem);
    transform:translateY(1.25rem);
  }
}
.header-wrapper .navbar {
  padding: 0.9375rem 0;
  background: transparent;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
}
.header-wrapper .navbar-toggler {
  border: 0;
  color: var(--text-black);
  box-shadow: none;
  line-height: 2;
}
.header-wrapper .nav-item {
  margin: 0 0.625rem;
}
.header-wrapper .nav-item .nav-link {
  font-size: 1.225rem;
  font-weight: 400;
  color: var(--bg-primary);
  display: inline-block;
}
.header-wrapper .nav-item .nav-link:focus,
.header-wrapper .nav-item .nav-link:hover {
  color: var(--text-secondary);
}
/* .header-wrapper .navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--text-secondary);
} */
.navbar-header-scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: var(--bg--white);
  box-shadow: 0.5084rem 1.1419rem 2.5rem 0 rgb(0 0 0/8%);
  transition: 0.3s ease-in-out;
}
.banner-wrapper 
{
  background: url("../images/top-banner-img/Top-banner.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
  
}
.banner-wrapper .top-right-sec
{
  position: relative;
  background: url("../images/top-banner-img/top-right-bg.png");
  background-repeat: no-repeat;
 background-position: bottom;
 background-size: contain;
 display: flex;
 align-items: flex-end;
 justify-content: center;
}
.banner-wrapper .animate-image
{
  position: absolute;
  bottom: 0;
  left: 50%;
  --webkit-transform:translateX(-50%);
  transform: translateX(-50%);

}
.banner-wrapper .animate-image .img1
{
left:-5.6875rem;
position:absolute;
--webkit-animation-name: movebounce;
animation-name: movebounce;
animation-delay: 100ms;
--webkit-animation-name: movebounce;
animation-iteration-count: infinite;
--webkit-animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
--webkit-animation-timing-function: ease-in-out;
animation-duration: 2s;
--webkit-animation-duration: 2s;
animation-direction: alternate;
--webkit-animation-direction: alternate;

}
.home .icon-box
{
  text-align: center;
  margin: auto;
}
.home .card:hover
{
  transform: rotateY(-0.625rem);
  --webkit-transform: rotateY(-0.625rem);
}
.banner-wrapper p{
  max-width: 80%;
  color: var(--bg--white);
}
 

.about-wrapper h2
{
  color: var(--text-black);
}
.about-wrapper .card
{
  width: 80%;
  flex-direction: row;
  justify-content:space-between;
 flex-wrap: wrap;
}
.about-wrapper .about-clinic
{
  flex: 0 0 auto;
  width: 50%;
 gap: 5px; 
 color: var(--bg--white);
}
.service-wrapper .wrapper h3
{
  color: var(--text-black) !important;
}
.testmonoial-wrapper .wrapper h3{
  color: var(--text-black) !important;
}
.about-image
{
  margin-top: -350px;
}
/* .card .icon-box
{
  margin: auto;
}
.card h3
{
  margin: auto;
} */
.service-wrapper  
{
  background-color: var(--bg-primary) !important ;
}
.service-wrapper   .card
{
  background-color: transparent;
  border: 0.625rem solid blue;
  box-shadow: none;
  padding: 2.5rem;
}
.service-wrapper .card:hover
{
cursor: cell;
background:lightblue;
border-color: transparent;
}
.service-wrapper .card h4,
.service-wrapper .card p
{
color: var(--bg--white);
}
.service-wrapper .card .icon-box
{
  margin-bottom: 1.875rem;
}
.team-wrapper .wrapper h2
{
  color:var(--text-black) !important;
}
/* .team-wrapper .wrapper
{
  margin-top: 900px;
} */
.team-wrapper .wrapper  .card
{
  padding: 1.25rem;
}
.team-wrapper .wrapper  .card:hover
{
  --webkit-transform: translateY(-0.625rem);
  transform: translateY(-0.625rem);
}
.team-wrapper .team-image
{
  margin: auto;
}
.team-wrapper .team-info .social-network
{
  --webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: .625rem 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-wrapper .team-info .social-network li i
{
  width: 1.5625rem;
  height:1.5625rem;
  line-height: 1.5625rem;
   display: block;
   border-radius: .3125rem;
   margin: 0 .3125rem 0 0 ;
   font-size: .75rem;
   background-color: var(--bg-gar);
   color: var(--bg--white);
   transition: all 0 ease-in-out;
   --webkit-transition: all 0.3s ease-in-out;
}

.team-wrapper .team-info .social-network li i:hover
{
  background-color: var(--text-secondary)!important;
}
.gallery-wrapper
{
  background: url("../images/gallery/gallery-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gallery-wrapper  img
{
  border-radius: .9375rem;;
}
.gallery-wrapper  .wrapper h3
{
  color: var(--bg--white)!important;
}
.testmonoial-wrapper  .card img
{
  border-radius: 50% !important;
   
} 
.testmonoial-wrapper  .card  
{
  background-color: #fc5184 !important;
}
.appoinment-wrapper
{
  background: url("../images/appointmnet-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}